
  body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    line-height: 1.5;
    color: whitesmoke;
    background-color: grey;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 10px;
    color: turquoise;
    font-weight: 500;
    line-height: 1.1;
  }
  
  h1 {
    font-size: 32px;
  }
  
  h2 {
    font-size: 48px;
    text-align: center;
    text-decoration: underline;
    
  }
  
  p {
    margin-top: 5px;
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
  }
  

  header {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    top: 0;
    background-color: grey;
    border: 5px solid white;}

    header:hover{
    box-shadow: inset 0px 0px 8px turquoise, 0 0 15px turquoise
  }
  
  header h1.titlepage {
    padding: 10px 20px;
    font-size: 64px;
    text-decoration: underline;
  }
  
  main {
    width: 100%;
    margin: 20px auto;
  }
  

  .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -10px;
    margin-right: -10px;
  }
  
  .justify-center {
    justify-content: center;
  }
  

  .box {
    flex: 1 0 100%;
    padding: 50px;
    transition: flex-basis 500ms linear;
    margin-bottom: 10px;
  }
  

  .myphoto {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  
    min-height: 100%;
    padding: 25px;
    color: turquoise;

    outline: 5px solid white;
    outline-offset: -2px;
    transition: all 0.5s ease-in-out;
  }

  .myphoto:hover,
  .myphoto:hover {
    box-shadow: inset 0px 0px 8px turquoise, 0 0 15px turquoise;
  }
  .myphoto {
    flex-grow: 1;
  }

  ul li a {
    text-decoration: none;
    color: white;
  }
  

  @media screen and (min-width: 768px) {
    .box {
      flex: 0 0 50%;
      max-width: 50%;
    }

    .box:last-child {
      flex-grow: 1;
    }
  }
  
  @media screen and (min-width: 992px) {
    header {
      width: 75%;
    }

    .box {
      flex: 0 0 33.333%;
      max-width: 33.333%;
    }
  }
  
  .headshot {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 25px;
    color: turquoise;
    outline: 5px solid white;
    outline-offset: -2px;
    transition: all 0.5s ease-in-out;}
  .headshot:hover,
  .headshot:hover {
    box-shadow: inset 0px 0px 8px turquoise, 0 0 15px turquoise;
  }
  .headshot {
    flex-shrink: 5;
  }

    .myphoto1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 25px;
    color: turquoise;
    outline: 5px solid white;
    margin: 10px;
  }
  .myphoto1:hover,
  .myphoto1:hover {
    box-shadow: inset 0px 0px 8px turquoise, 0 0 15px turquoise;
  }
  .myphoto1 {
    flex-grow: 1;
  }

  .responsive{
    width:100%;
    height: auto;
  }